@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #141414;
}

a {
  color: gray;
  text-decoration: none;
  font-size: 0.7rem;
}

p {
  margin: 0;
}

.nav-icon {
  margin-right: 30px;
}
.nav-avatar {
  width: 40px;
}

.slick-next,
.slick-prev {
  font-size: large !important;
  z-index: 3 !important;
}

.slick-prev {
  margin-left: 2rem;
}

.slick-next {
  margin-right: 4.5rem;
}

/* per colore dropdown genres */
.dropdown-menu {
  background-color: #343a40;
}

.dropdown-menu .dropdown-item {
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #212529; /* Cambio di colore del background al passaggio del mouse */
  color: black; /* Cambio di colore del testo al passaggio del mouse */
}

#movie:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}
